@tailwind base;
@tailwind components;
@tailwind utilities;

[class^='vp-antd'] svg {
  display: inline;
  vertical-align: unset;
}

[class^='i-'],
[class^='iss-'] {
  @apply w-8 h-8;
}

.markdown-body img {
  display: inline-block;
}
